<nav class="navbar navbar-expand-lg navbar-light ">
    <div class="container">
{#        <a class="navbar-brand" href="#">#}
{#            <img class="navbar-brand-logo round" src="/img/logo/lprint-Black.jpg" alt="">#}
{#        </a>#}
        <button class="logo" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <img class="navbar-brand-logo round" src="/img/logo/lprint-Black.jpg" alt="">
        </button>
        <span class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav me-auto mb-2 mb-lg-0">
                <table>
                    <tr>
                        <td>
                            <li class="nav-item dropdown">
                                <a class="nav-link" href="#" id="navbarDropdown" role="button" data-toggle="dropdown"
                                   aria-haspopup="true" aria-expanded="false">
                                    Услуги
                                </a>
                                <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                                    <a class="dropdown-item" href="#">Футболки</a>
                                    <a class="dropdown-item" href="#">Худи</a>
                                    <a class="dropdown-item" href="#">Свитшоты</a>
                                    <a class="dropdown-item" href="#">Кроп-Топ</a>
                                    <a class="dropdown-item" href="#">Костюмы</a>
                                </div>
                            </li>
                        </td>
                        <td>
                            <a class="nav-link" href="#">Портфолио</a>
                        </td>
                        <td>
                            <a class="nav-link" href="#">Оплата и доставка</a>
                        </td>
                        <td>
                            <a class="nav-link" href="#">Контакты</a>
                        </td>
                </table>
            </ul>
        </span>
    </div>
</nav>



{#<nav class="navbar navbar-expand-lg navbar-light bg-light">#}
{#    <div class="container-fluid">#}
{#        <a class="navbar-brand" href="#">#}
{#            <img class="navbar-brand-logo round" src="/img/logo/lprint-Black.jpg" alt="">#}
{#        </a>#}
{#        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNavDropdown" aria-controls="navbarNavDropdown" aria-expanded="false" aria-label="Toggle navigation">#}
{#            <span class="navbar-toggler-icon"></span>#}
{#        </button>#}
{#        <div class="collapse navbar-collapse" id="navbarScroll">#}
{#            <ul class="navbar-nav me-auto my-2 my-lg-0 navbar-nav-scroll" style="--bs-scroll-height: 100px;">#}
{#                <li class="nav-item dropdown">#}
{#                    <a class="nav-link" href="#" id="navbarDropdown" role="button" data-toggle="dropdown"#}
{#                       aria-haspopup="true" aria-expanded="false">Услуги</a>#}
{#                    <div class="dropdown-menu" aria-labelledby="navbarDropdown">#}
{#                        <a class="dropdown-item" href="#">Футболки</a>#}
{#                        <a class="dropdown-item" href="#">Худи</a>#}
{#                        <a class="dropdown-item" href="#">Свитшоты</a>#}
{#                        <a class="dropdown-item" href="#">Кроп-Топ</a>#}
{#                        <a class="dropdown-item" href="#">Костюмы</a>#}
{#                    </div>#}
{#                </li>#}
{#                <li class="nav-item">#}
{#                    <a class="nav-link" href="#">Портфолио</a>#}
{#                </li>#}
{#                <li class="nav-item">#}
{#                    <a class="nav-link" href="#">Оплата и доставка</a>#}
{#                </li>#}
{#                <li class="nav-item">#}
{#                    <a class="nav-link" href="#">Контакты</a>#}
{#                </li>#}
{#            </ul>#}
{#        </div>#}
{#    </div>#}
{#</nav>#}
{#    <nav class="navbar navbar-expand-md navbar-light ">#}
{#        <div class ="container">#}
{#            <div class="row">#}
{#                <a class="col-lg-12 navbar-brand " href="#">#}
{#                    <img class="navbar-brand-logo" src="/img/logo/lprint-Black.jpg" alt="">#}
{#                </a>#}
{#                <button class="navbar-toggler img-fluid margin-right" type="button" data-toggle="collapse" data-target="#navbarSupportedContent"#}
{#                        aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">#}
{#                    <span class="navbar-toggler-icon"></span>#}
{#                </button>#}
{#            </div>#}
{#        </div>#}
{#            <div class="collapse navbar-collapse" id="navbarSupportedContent">#}
{#                <ul class="navbar-nav ml-auto">#}
{#                    <li class="nav-item dropdown">#}
{#                        <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown"#}
{#                           aria-haspopup="true" aria-expanded="false">Услуги</a>#}
{#                        <div class="dropdown-menu" aria-labelledby="navbarDropdown">#}
{#                            <a class="dropdown-item" href="#">Футболки</a>#}
{#                            <a class="dropdown-item" href="#">Худи</a>#}
{#                            <a class="dropdown-item" href="#">Свитшоты</a>#}
{#                            <a class="dropdown-item" href="#">Кроп-Топ</a>#}
{#                            <a class="dropdown-item" href="#">Костюмы</a>#}
{#                        </div>#}
{#                    </li>#}
{#                    <li class="nav-item">#}
{#                        <a class="nav-link" href="#">Портфолио</a>#}
{#                    </li>#}
{#                    <li class="nav-item">#}
{#                        <a class="nav-link" href="#">Оплата и доставка</a>#}
{#                    </li>#}
{#                    <li class="nav-item">#}
{#                        <a class="nav-link" href="#">Контакты</a>#}
{#                    </li>#}
{#                </ul>#}
{#            </div>#}
{#    </nav>#}
